* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}
.calculator {
  width: 400px;
}
.calculator-top {
  height: 200px;
  border: 1px solid black;
  background-color: aliceblue;
  border-radius: 10px 10px 0px 0px;
}
.calculator-top .outcome {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 10px;
  font-size: 40px;
  color: red;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  padding: 10px;
  height: 400px;
  gap: 10px;
  background-color: gray;
  border-radius: 0px 0px 10px 10px;
}
.grid-container > button {
  font-size: 30px;
  text-align: center;
}
.operator {
  background-color: rgb(219, 219, 242);
}

@media (max-width: 992px) {
  .calculator {
    width: 70%;
  }
}
@media (max-width: 768px) {
  .calculator {
    width: 90%;
  }
}
